*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 70%;
    margin: 35px auto;
    justify-content: center;
    align-items: center;
}

.head{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px auto;
    text-align: center;
}
.head2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px auto; 
    text-align: center;
}
.line{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px auto; 
}
.button{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
   padding: 1rem

}
.button a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    text-align: center
}

.vertical-center {
    margin: 0 40%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .container {
    height: 200px;
    position: relative;
  }